@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lora", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header-text {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    margin-top: 20px;
}

/* Design till formulär */
#product-form {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#product-form input,
#product-form button {
    padding: 12px;
    font-size: 1rem;
    border-radius: 6px;
    border: 2px solid #dcb2c5;
    font-weight: 300;
}

#product-form button {
    background-color: #dcb2c5;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: none;
}

#product-form button:hover {
    background-color: #ba879e;
}

/* Design till produkt sidan */
#product-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-card {
    width: 20%;
    box-shadow: 0 0 4px rgb(0, 0, 0);
    padding: 1.5em;
    margin-bottom: 2em;
}

.product-images {
    width: 200px;
    height: 200px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.title {
    font-size: 1.3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

.catergory {
    font-weight: bold;
    text-transform: capitalize;
    margin: 1em;
    font-size: 1.2rem;
}

.price {
    font-weight: bold;
    margin-top: 1em;
}

.delete-btn {
    margin-top: 8px;
    border: 2px solid #dcb2c5;
    font-size: 18px;
    border-radius: 6px;
    padding: 3px;
    background-color: #dcb2c5;
    cursor: pointer;
    border: none;
}

.delete-btn:hover {
    background-color: #ba879e;
}


@media (max-width: 1100px) {
    .header-text {
        font-size: 2rem;
        margin-top: 10px;
    }

    #product-form {
        flex-direction: column;
        gap: 0.5rem;
        width: 90%;
        margin: 0 auto 20px;
    }

    #product-form input,
    #product-form button {
        width: 100%;
        font-size: 1rem;
    }

    #product-cards {
        justify-content: center;
    }

    .product-card {
        width: 90%;
        margin: 1rem auto;
        padding: 1rem;
    }

    .product-images {
        width: 140px;
        height: 140px;
    }

    .title {
        font-size: 1.1rem;
    }

    .catergory {
        font-size: 1.1rem;
        margin: .5em 0;
    }

    .price {
        font-size: 1rem;
    }

    .delete-btn {
        font-size: 16px;
        width: 100%;
        padding: 8px;
    }
}
