* {
  box-sizing: border-box;
  margin: 0;
}

.header { 
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: solid 1px #e6e6e6;
}

.header a {
  text-decoration: none;
  color: black;
}


.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}


.search-wrapp{
  display:flex;
  align-items:center;
  gap:8px;
  background: rgba(7,16,41,0.03);            
  padding:6px 10px;
  min-width: 140px;              
  border: 1px solid rgba(7,16,41,0.04);
  border-radius: 30px;
}

.search-icon{ 
  color: #111; 
  opacity:0.9; 
}

.search-input{
  border: none;
  background: transparent;
  color: #071029;          
}


.search-input::placeholder{ 
  color: #9aa3ad; 
  font-weight:500; 
}




@media (min-width: 769px) {
  .hamburger-menu { 
    display: none; 
  }
}

@media (max-width: 768px) {
  .header-search {
    display: none;
  }
  .hamburger-menu {
    display: block;
    font-size: 1.8rem;
    background: none;
    border: none;
    cursor: pointer;
  }

  .navbar {
    display: none;
  }

  .navbar.show {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;      
    background-color: white; 
    position: absolute;      
    top: 60px;            
    right: 0;
    left: 0;
    padding: 10px 0;
  }

}