* {
  box-sizing: border-box;
  margin: 0;
}

.header { 
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: solid 1px #e6e6e6;
}

.header a {
  text-decoration: none;
  color: black;
}


.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}




@media (min-width: 769px) {
  .hamburger-menu { display: none; }
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
    font-size: 1.8rem;
    background: none;
    border: none;
    cursor: pointer;
  }

  .navbar {
    display: none;
  }

  .navbar.show {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;      
    background-color: white; 
    position: absolute;      
    top: 60px;            
    right: 0;
    left: 0;
    padding: 10px 0;
  }

}