/* Hero section */
#hero {
    width: 100%;
    height: 95vh;
    background-image: url('../img/hero5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5%;
}

#hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 21px;
    margin-bottom: 40px;
    line-height: 1.1;
}

#hero-text h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 35px;
}

/* Design Button i hero section */
#btn {
    border-radius: 15px;
    margin-top: 5px;
    padding: 5px;
    transition: all 0.3s ease;
}

#btn:hover {
    background-color: #e9dfce;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}

#btn a {
    color: black;
}

/* Product section */
.image-section {
    text-align: center;
    padding: 40px 20px;
    background-color: #ffffff;
    margin-bottom: 30px;
    font-size: 24px;
}

.rubrik {
    color: #000000;
    font-style: italic;
    font-family: serif;
    font-size: 2rem;
    margin-bottom: 40px;
}

.product-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.box {
    width: 250px;
    background: #edeceb;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 10px;
}

.box img {
    width: 70%;
    height: auto;
    display: block;
    margin: 10px auto;
}

.product-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 250px;
    margin-top: 8px;
    padding: 0 10px;
    box-sizing: border-box;
}

.text-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text-column h3 {
    font-size: 22px;
    font-family: serif;
    font-style: italic;
    font-weight: 500;
}

.text-column .price {
    margin: 2px 0 0 0;
    font-size: 16px;
    font-style: italic;
}

.product-row i {
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.product-row i:hover {
    transform: scale(1.2);
}

/* Media quearies  */
@media (max-width: 768px) {
    #hero {
        height: 70vh;
        width: 110%;
    }
    #hero-text h1 {
        font-size: 28px;
    }
    #hero-text p {
        font-size: 16px;
    }
    #btn {
        padding: 6px 14px;
        font-size: 14px;
    }
}

@media (max-width: 430px) {
    #hero {
        height: 60vh;
        width: 110%;
    }
    #hero-text h1 {
        font-size: 24px;
    }
    #hero-text p {
        font-size: 14px;
    }
    #btn {
        padding: 5px 12px;
        font-size: 12px;
    }
}
