@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
#hero {
    width: 100%;
    height: 95vh;
    background-image: url('../img/hero5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 21px;
    margin-bottom: 40px;
    line-height: 1.1;
}

#hero-text h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 35px;
}

/* Design Button i hero section */
#btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #000000;
    background-color: white;
    border: 2px solid #000000;
    border-radius: 40px;
    text-decoration: none;
    text-align: center;
    margin-top: 15px;
    transition: background-color 0.3s, color 0.3s;
}

#btn:hover {
    background-color: #e9dfce;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}

/* Product section */
.image-section {
    text-align: center;
    padding: 40px 20px;
    background-color: #ffffff;
    margin-bottom: 30px;
    font-size: 24px;
}

.rubrik {
    color: #000000;
    font-family: "Lora", sans-serif !important;
    font-size: 2rem;
    margin-bottom: 40px;
}

.product-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.product-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    background: #edeceb;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 10px;
}

.box img {
    width: auto;
    max-width: 250px;
    height: auto;
    max-height: 200px;
    display: block;
    margin: 10px auto;
}

.product-row {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 9fr 1fr;
    grid-template-areas: "h3 i"
    "h3 i"
    "price i";
    width: 100%;
    max-width: 300px;
    margin-top: 8px;
    padding: 0 10px;
}

.text-column {
    grid-area: h3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text-column h3 {
    min-height: 50px;
    text-align: left;
    font-size: 22px;
    font-family: serif;
    font-weight: 500;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    overflow: hidden;
    text-overflow: ellipsis;
}

.text-column .price {
    margin: 2px 0 0 0;
    font-size: 16px;
    font-style: italic;
}

.js-add-to-cart {
    cursor: pointer
}


/* Media queries */
@media (max-width: 768px) {
    #hero {
        height: 70vh;
        width: 100vw;
        background-position: bottom;
    }
    #hero-text h1 {
        font-size: 28px;
    }
    #hero-text p {
        font-size: 16px;
    }
    #btn {
        padding: 6px 14px;
        font-size: 14px;
    }
}

@media (max-width: 430px) {
    #hero {
        height: 50vh;
        width: 100vw;
    }
    #hero-text h1 {
        font-size: 24px;
    }
    #hero-text p {
        font-size: 14px;
    }
    #btn {
        padding: 5px 12px;
        font-size: 12px;
    }
}
