* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 150px;
  background-color: pink;
}

#cart-container {
  position: relative;
  margin: 0.5rem;
}

#cart-counter {
  position: absolute;
  top: -3px;
  right: -3px;
  height: 20px;
  width: 20px;
  background-color: red;
  border-radius: 50%;
}

#js-button {
  display: flex;
  width: 64px;
  height: 64px;
  background: transparent url("./img/shopping-bag.png") no-repeat center;
  background-size: contain;
  border: none;
  cursor: pointer;
  padding: 0;
}

#mini-cart {
  z-index: 1000;
  position: fixed;
  top: 0;
  right: -40vw;
  width: 40vw;
  min-width: 400px;
  height: 100vh;
  background: white;
  transition: right 0.2s ease;
}

#mini-cart.active {
  right: 0;
  min-width: 400px;
}

#main-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  width: 99vw;
}

#mini-cart-btn {
  width: 64px;
  height: 64px;
  background: transparent url("./img/arrow-right.svg") no-repeat center;
  border: none;
  background-size: contain;
  cursor: pointer;
}

#cart-top-panel {
  display: flex;
  background-color: green;
  padding: 20px 10px 20px;
  width: 40vw;
  min-width: 400px;

  align-items: center;
  justify-content: space-between;
  height: 64px;
}

#cart-empty {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  width: 40vw;
  align-items: center;
  height: auto;
}

#cart-empty h3 {
  display: block;
  text-align: center;
  margin: 25px;
}

#cart-empty button {
  border: none;
  background-color: rgb(14, 122, 254);
  color: white;
  width: 75%;
  padding: 25px 50px;
  border-radius: 15px;
  font-size: 16px;
}

#product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 items per row */
  gap: 10px; /* spacing between items */
}
/* Product cards */

.card {
  margin: 5px;
  box-shadow: 0 8px 8px 0 rgb(183, 183, 183);
  max-width: 300px;
  height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card img {
  width: 120px;
}

.price {
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  width: 300px;
  margin-bottom: 20px;
}

.card button:hover {
  opacity: 0.7;
}
