* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  max-width: 1600px;
  height: 150px;
  background-color: pink;
}

#cart-container {
  position: relative;
  margin: 0.5rem;
}

#cart-counter {
  position: absolute;
  top: -3px;
  right: -3px;
  height: 20px;
  width: 20px;
  background-color: red;
  border-radius: 50%;
}

#js-button {
  display: flex;
  width: 64px;
  height: 64px;
  background: transparent url("./img/shopping-bag.png") no-repeat center;
  background-size: contain;
  border: none;
  cursor: pointer;
  padding: 0;
}

#mini-cart {
  display: flex;
  flex-direction: row;
  z-index: 1000;
  position: fixed;
  top: 0;
  right: -40vw;
  width: 40vw;
  max-width: 600px;
  height: 100vh;
  background: white;
  transition: right 0.2s ease; /* smooth slide */
}

#mini-cart.active {
  right: 0;
}

#main-section {
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
  width: 99vw;
  max-width: 1600px;
}

#mini-cart-btn {
  margin: 10px;
  width: 64px;
  height: 64px;
  background: transparent url("./img/arrow-right.svg") no-repeat center;
  border: none;
  background-size: contain;
  cursor: pointer;
}

#cart-panel {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}
