* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#main-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  width: 99vw;
}

.main {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 150px;
  background-color: pink;
}

#cart-container {
  position: relative;
  margin: 0.5rem;
}

#cart-counter {
  position: absolute;
  top: -3px;
  right: -3px;
  height: 20px;
  width: 20px;
  background-color: red;
  border-radius: 50%;
}

#cart-counter p {
  text-align: center;
  margin-top: 2px;
}

#cart-button {
  display: flex;
  width: 48px;
  height: 48px;
  background: transparent url("./img/shopping-bag.png") no-repeat center;
  background-size: contain;
  border: none;
  cursor: pointer;
  padding: 0;
}


c

/*
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@ ~ Mini-cart ~ @@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
*/

#cart-back-btn {
  width: 64px;
  height: 64px;
  background: transparent url("/src/img/arrow-right.svg") no-repeat center;
  border: none;
  background-size: contain;
  cursor: pointer;
}

#cart-top-panel {
  display: flex;
  background-color: rgb(255, 255, 255);
  border: solid 2px red;
  padding: 20px 10px 20px;
  width: 30rem;
  min-width: 400px;

  align-items: center;
  justify-content: space-between;
  height: 64px;
}

#cart-empty {
  min-width: 400px;
  display: none;
  flex-direction: column;
  width: 30rem;
  align-items: center;
  height: auto;
}

#cart-empty h3 {
  display: block;
  text-align: center;
  margin: 25px;
}

#cart-empty button {
  border: none;
  background-color: rgb(14, 122, 254);
  color: white;
  width: 75%;
  padding: 25px 50px;
  border-radius: 15px;
  font-size: 16px;
}

#mini-cart-products-container {
  width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-rect {
  display: flex;
  width: 100%;
  padding: 1rem;
}

.product-rect img {
  height: 7.5rem;
  width: auto;
  object-fit: fill;
}

.product-rect section {
  flex: 1;
  display: grid;
  grid-template-areas:
    "headline price"
    "actions quantity"
    "article stock";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr 2fr;
  gap: 0.3rem;
  margin: 0.5rem;
}

.product-rect section h1 {
  margin-block: 0;
  grid-area: headline;
  align-self: center;
  font-size: 1em;

}

#mini-cart-product-price{
  grid-area: price;
  align-self: center;
  justify-self: center;
}


#mini-cart-actions{
  grid-area: actions;
  display: flex;
  gap: 5px;
  height: 20px;
}

#mini-cart-quantity {
  grid-area: quantity;
  justify-self: center;
  align-self: end;
}

#mini-cart-remove-product{
  width: 20px;
  height:20px;
  background-color: Transparent;
  background-image: url(/src/img/dash-circle-fill.svg);
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
}

#mini-cart-add-product{
  width: 20px;
  height:20px;
  background-color: Transparent;
  background-image: url(/src/img/plus-circle-fill.svg);
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
}

#article-number{
  grid-area: article;
  align-self: end;
}

#mini-cart-stock-status{
  grid-area: stock;
  align-self: end;
  justify-self: center;
}

.product-rect section .brand {
  grid-area: brand;
}

.product-rect section .actions {
  grid-area: actions;
}

.product-rect section .stock {
  grid-area: stock;
  justify-self: end;
}




#to-checkout-button {
  margin-top: 10px;
  border: none;
  background-color: rgb(14, 122, 254);
  color: white;
  padding: 15px 50px;
  border-radius: 5px;
  font-size: 16px;
}


/*
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@ ~ Product cards ~ @@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @ @
*/

#product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.card {
  margin: 5px;
  box-shadow: 0 8px 8px 0 rgb(0, 0, 0, 0.5);
  max-width: 300px;
  height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card img {
  width: 120px;
}

.price {
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  width: 300px;
  margin-bottom: 20px;
}

.card button:hover {
  opacity: 0.7;
}
